.nav-bar {
  padding: 16px;
  border-right: 1px solid #333;
  width:240px;
  background:#1b1b1b;
  color:#fff;
}
.nav-bar h2 {
  margin-bottom:12px;
}
.nav-bar .opt-btn {
  width:100%;
  padding:8px;
  background:transparent;
  color:#ddd;
  border:none;
  text-align:left;
  cursor:pointer;
  border-bottom:1px solid rgba(255,255,255,0.03);
}
.nav-bar .opt-btn.active {
  background:#333;
  color:#fff;
  font-weight:bold;
}
